.price{
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__row{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    margin-bottom: 100px;
    @include media(992){
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }
  &__title{
    margin-bottom: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #000000;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    background: #FFD600;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    transition: 200ms ease;
    pointer-events: none;
    &.current{
      background: rgba(255, 214, 0, 0.58);
    }
    @include media(992){
      max-width: 350px;
      margin-bottom: 35px;
    }
    &-title{
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      text-align: center;
      color: #000000;
      margin-bottom: 30px;
    }
    &-p{
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      color: #000000;
      margin-bottom: 50px;
    }
    &-btn{
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
      padding: 15px 40px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      pointer-events: auto;
    }
  }
}