.send{
  min-height: 600px;
  height: calc(100vh - 356px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
    max-width: 558px;
    @include media($sm){
      font-size: 24px;
      line-height: 120%;
    }
  }
  &__img{
    max-width: 100%;
  }
}