.types{
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
  }
  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 131px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
    @include media(1400){
      font-size: 60px;
      line-height: 120%;
    }
    @include media($md){
      font-size: 40px;
    }
    @include media($sm){
      font-size: 24px;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    @include media(1200){
      flex-wrap: wrap;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFD600;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
    padding: 30px 20px 20px 20px;
    width: 33.333%;
    @include media(1200){
      width: calc(50% - 40px);
      margin-bottom: 40px;
    }
    @include media($md){
      width: 100%;
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &:nth-child(2){
      @include media(1200){
        margin-right: 0;
      }
    }
    &-col{
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    &-img{
      max-width: 100%;
      margin-bottom: 15px;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
    &-title{
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #000000;
      margin-bottom: 20px;
    }
    &-p{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      margin-bottom: 22px;
    }
    &-btn{
      background: #FFFFFF;
      border-radius: 20px;
      padding: 6px 15px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }
  }
}