*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
  }
}
body{
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
button{
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}
ul{
  list-style: none;
}
@mixin text($fz, $lh, $fw, $color){
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}
@mixin btn($fz, $lh, $fw, $color, $bg, $rad){
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
  background: $bg;
  border-radius: $rad;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
$primary-color: #FFD600;
$secondary-color: #FFBE35;
.icon-time{
  &::before{
    content: url('../images/time.webp');
    height: 38px;
  }
}
.icon-mic{
  &::before{
    content: url('../images/mic.webp');
    height: 38px;
  }
}
.icon-sound{
  &::before{
    content: url('../images/sound.webp');
    height: 38px;
  }
}
.icon-music{
  &::before{
    content: url('../images/music-icon.webp');
    height: 38px;
  }
}