mixin about()
  .about 
    .about__body.container 
      h2.about__title Пробне заняття
      .about__row 
        .about__item 
          img(src="images/looking.webp", alt="").about__img
          h3.about__item-p 30 хвилин
        .about__item 
          img(src="images/success.webp", alt="").about__img
          h3.about__item-p знайомство
        .about__item 
          img(src="images/hello.webp", alt="").about__img
          h3.about__item-p розмова
        .about__item 
          img(src="images/Music.webp", alt="").about__img
          h3.about__item-p навчання