mixin footer()
  .footer 
    navbar.footer__nav.container 
      a(href="index.html").footer__logo
        img(src="images/logo.webp", alt="").footer__logo-img
      .footer__col 
        a(href="tel:+38(099)413-59-60").footer__link tel:+38(099)413-59-60
        a(href="mailto:come.together.place@gmail.com").footer__link come.together.place@gmail.com
      a(href="#!").footer__link.icon-golden-location вул. Златоустівська 2/4, 11 офіс (4 поверх)
      .footer__icons
        a(href="https://instagram.com" target="_blank").footer__icon  
          img(src="images/instagram.webp", alt="instagram")
        a(href="https://viber.com" target="_blank").footer__icon  
          img(src="images/viber.webp", alt="viber")
        a(href="https://facebook.com" target="_blank").footer__icon  
          img(src="images/facebook.webp", alt="facebook")