mixin intro()
  .intro
    .intro__body.container
      h1.intro__title Артистами не народжуються, ними стають!
      h2.intro__subtitle Музичний простір Медійні проекти
      a(href="#!").location.intro__location вул. Златоустівська 2/4, 11 офіс (4 поверх)
      a(href="tel:+38(099)413-59-60").intro__link +38(099)413-59-60