mixin price()
  .price 
    .price__body.container 
      h1.price__title Ціни
      .price__row
        .price__item
          h2.price__item-title Пробне заняття
          p.price__item-p 150 грн
          a(href="forming.html").price__item-btn Купити 
        .price__item
          h2.price__item-title Розове заняття
          p.price__item-p 380 грн
          a(href="forming.html").price__item-btn Купити 
        .price__item
          h2.price__item-title Абонемент на 4 заняття
          p.price__item-p 1400 грн
          a(href="forming.html").price__item-btn Купити 
      .price__row
        .price__item
          h2.price__item-title Абонемент на 8 занять
          p.price__item-p 2600 грн
          a(href="forming.html").price__item-btn Купити 
        .price__item
          h2.price__item-title Ранковий 8 занять
          p.price__item-p 2100 грн  
          a(href="forming.html").price__item-btn Купити 