mixin slider()
  .slider__top.container
    h1.slider__main-title Викладачі Школи
  .slider.swiper-container 
    .slider__body.swiper-wrapper
      .slider__item.swiper-slide 
        img(src="images/nadyabig.webp", alt="Надя").slider__img
        .slider__content 
          .slider__content-top 
            h2.slider__title Адамчук Надія
            p.slider__p Засновник Музичного простору «Come Together» і по сумісництву викладач вокалу. Професійна співачка, лаурет багатьох міжнародних конкурсів, співала у різних музичних гуртах, а зараз займається своїм авторським матеріалом. 
          a(href="forming.html").slider__btn Записатись 
      .slider__item.swiper-slide 
        img(src="images/nadyabig.webp", alt="Надя").slider__img
        .slider__content 
          .slider__content-top 
            h2.slider__title Адамчук Надія
            p.slider__p Засновник Музичного простору «Come Together» і по сумісництву викладач вокалу. Професійна співачка, лаурет багатьох міжнародних конкурсів, співала у різних музичних гуртах, а зараз займається своїм авторським матеріалом. 
          a(href="forming.html").slider__btn Записатись 
    .slider__pagination
      button.slider-button-prev.swiper-button-prev
      button.slider-button-next.swiper-button-next