mixin tips()
  .tips 
    .tips__body.container   
      h1.tips__title Переваги нашої школи
      .tips__row
        .tips__item(data-value="1")
          h2.tips__item-title Ефективні методики 
          p.tips__item-p Наша професійна команда надихне Вас на нові творчі досягнення
        .tips__item(data-value="2")
          h2.tips__item-title Індивідуальний підхід
          p.tips__item-p Ми покажемо Вам, що музика - це не тільки складні гітарні партії, вокалізи чи довгі пасажі на фортепіано, а ще й можливість емоційного самовираження
        .tips__item(data-value="3")
          h2.tips__item-title Зручний графік
          p.tips__item-p Ви обираєте зручний для вас час. Заняття можуть відбуватися у школі, а також он-лайн
      .tips__row
        .tips__item(data-value="4")
          h2.tips__item-title Сценічний досвід
          p.tips__item-p Для будь-якого музиканта важливий контакт з публікою. Наша школа проводить звітні концерти, готує до конкурсів, фестивалів, концертів
        .tips__item(data-value="5")
          h2.tips__item-title Наша мета - Ваш успіх
          p.tips__item-p Ми зацікавлені у тому, щоб ви відчули себе справжнім музикантом і полюбили музику так як любимо її МИ. Стадіон так стадіон!
        .tips__item(data-value="6")
          h2.tips__item-title #твій_простір_для_творчості
          p.tips__item-p Ти відчуєш себе справжньою зіркою. Професійне обладнання, просторі кабінети та викладачі, які будуть з тобою творити і витворяти
      a(href="forming.html").tips__btn Пробне заняття 