mixin types()
  .types 
    .types__body.container 
      h1.types__title Мрієш збирати стадіони? Тобі до нас!
      .types__row
        .types__item 
          .types__item-col
            img(src="images/vokal.webp", alt="vokal").types__item-img
            h2.types__item-title Вокал
            p.types__item-p Хочеш пірнути у вир шалених емоцій, здійснити свою мрію або виступити на великій сцені ? 
          a(href="vokal.html").types__item-btn Детальніше 
        .types__item 
          .types__item-col
            img(src="images/fortapiano.webp", alt="vokal").types__item-img
            h2.types__item-title Фортепіано
            p.types__item-p Музичний інструмент з найбільшими можливотями, на якому можна грати у всіх музичних стилях
          a(href="#!").types__item-btn Детальніше 
        .types__item 
          .types__item-col
            img(src="images/gitara.webp", alt="vokal").types__item-img
            h2.types__item-title Гітара
            p.types__item-p Один з найбільш мелодійних, а тому популярних музичних інструментів 
          a(href="#!").types__item-btn Детальніше
        .types__item 
          .types__item-col
            img(src="images/team.webp", alt="vokal").types__item-img
            h2.types__item-title Актораська майстерність
            p.types__item-p Спосіб зазирнути всередину себе, розкрити свої сильні сторони, перебороти страх виступів на сцені
          a(href="#!").types__item-btn Детальніше 