@import 'layout/root';
@import 'layout/ui';
@import 'layout/header';
@import 'layout/intro';
@import 'layout/about';
@import 'layout/types';
@import 'layout/slider';
@import 'layout/tips';
@import 'layout/price';
@import 'layout/form';
@import 'layout/musictypes';
@import 'layout/school';
@import 'layout/forming';
@import 'layout/send';
@import 'layout/rules';
@import 'layout/kurs';
@import 'layout/contact';
@import 'layout/footer';