doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Come Together
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap")
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body
    include components/header.pug 
    +header2
    .f404 
      .f404__body.container
        img(src="images/404.webp", alt="404 not found").f404__img
        h1.f404__title Ошибка подключения
        p.f404__p Сайт пока не может обработать этот запрос.
        a(href="index.html").f404__btn Перезагрузить
    include components/footer.pug 
    +footer 
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="scripts/slider.js")
    script(src="scripts/index.js") 